#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--container-padding);
  background-color: var(--container-background);
  border-bottom: 1px solid var(--separator);
}

header > nav > ul {
  display: flex;
  gap: 16px;
  list-style: none;
}

header > .user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

header > .user-info button {
  cursor: pointer;
  padding: 0 var(--element-padding);
}

main {
  flex: 1;
  background-color: var(--container-background);
  display: flex;
}

main > .reset-password {
  flex: 1;
  display: grid;
  justify-content: center;
}

main > .reset-password > form {
  width: 400px
}

main > .reset-password > form > h2 {
  margin: 16px 0; 
}

main > .index {
  flex: 1;
  display: grid;
  grid-template-areas:
    "title action"
    "list action";
  grid-template-columns: 400px 1fr;
  grid-template-rows: min-content 1fr;
}

main > .index > h2 {
  grid-area: title;
  padding: 0 var(--container-padding);
  margin: 16px 0;
}

main > .index > .list {
  padding: 0 var(--container-padding);
  grid-area: list;
  padding-right: var(--container-padding);
}

main > .index > .list > a {
  padding: var(--element-padding);
  display: block;
  background-color: var(--element-background-alpha);
  border-radius: var(--element-border-radius);
  text-align: center;
}

main > .index > .list > ul {
  list-style-type: none;
  margin-top: 8px;
}

main > .index > .list > ul > li {
  margin-bottom: 4px;
  background-color: var(--element-background);
  border-radius: var(--element-border-radius);
}

main > .index > .list > ul > li > a {
  display: block;
  padding: var(--element-padding);
  color: var(--element-text-color);
}

main > .index > .action {
  border-left: 1px solid var(--separator);
  grid-area: action;
  padding: var(--container-padding);
}

main > .index > .action > * {
  max-width: 720px;
  margin: auto;
}

main > .index > .action .view-item {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 8px;
}

main > .index > .action .view-item > b {
  font-size: 12px;
}

main > .index > .action .view-item > span {
  font-weight: 400;
}

main > .index > .action .view-actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
}
